// -------------------------------------------------------------------------------------------
// Simple loop that will autogenerate required Gutenberg classes from our '$colors' palette.
// -------------------------------------------------------------------------------------------
@each $color in $colors {
    $key: nth($color, 1);
    $value: nth($color, 2);

    .has-#{$key}-background-color {
        background-color: #{$value};
    }

    .has-#{$key}-color {
        color: #{$value};
    }
}
