@mixin layout-padding-top($multiplier: 1) {
    padding-top: layout(xsmall, $multiplier);

    @include mq(medium) {
        padding-top: layout(medium, $multiplier);
    }

    @include mq(large) {
        padding-top: layout(large, $multiplier);
    }

    @include mq(xlarge) {
        padding-top: layout(xlarge, $multiplier);
    }
}

@mixin layout-padding-bottom($multiplier: 1) {
    padding-bottom: layout(xsmall, $multiplier);

    @include mq(medium) {
        padding-bottom: layout(medium, $multiplier);
    }

    @include mq(large) {
        padding-bottom: layout(large, $multiplier);
    }

    @include mq(xlarge) {
        padding-bottom: layout(xlarge, $multiplier);
    }
}

@mixin layout-margin-top($multiplier: 1) {
    margin-top: layout(xsmall, $multiplier);

    @include mq(medium) {
        margin-top: layout(medium, $multiplier);
    }

    @include mq(large) {
        margin-top: layout(large, $multiplier);
    }

    @include mq(xlarge) {
        margin-top: layout(xlarge, $multiplier);
    }
}

@mixin layout-margin-bottom($multiplier: 1) {
    margin-bottom: layout(xsmall, $multiplier);

    @include mq(medium) {
        margin-bottom: layout(medium, $multiplier);
    }

    @include mq(large) {
        margin-bottom: layout(large, $multiplier);
    }

    @include mq(xlarge) {
        margin-bottom: layout(xlarge, $multiplier);
    }
}

@mixin layout-margin-pull($multiplier: 1) {
    margin-top: -(layout(xsmall, $multiplier));

    @include mq(medium) {
        margin-top: -(layout(medium, $multiplier));
    }

    @include mq(large) {
        margin-top: -(layout(large, $multiplier));
    }

    @include mq(xlarge) {
        margin-top: -(layout(xlarge, $multiplier));
    }
}

@mixin layout-padding($multiplier: 1) {
    @include layout-padding-top($multiplier);
    @include layout-padding-bottom($multiplier);
}

@mixin layout-margin($multiplier: 1) {
    @include layout-margin-top($multiplier);
    @include layout-margin-bottom($multiplier);
}
